[workspace]
members = ["crosshair-lib"]

[workspace.package]
version = "1.1.0"
authors = ["Michael Ripley <zkxs00@gmail.com"]
edition = "2021"
license = "GPL-3.0-only"

[workspace.dependencies]
serde = { version = "1", features = ["derive"] }

[package]
name = "simple-crosshair-overlay"
description = "A simple native crosshair overlay"
readme = "README.md"
homepage = "https://github.com/zkxs/simple-crosshair-overlay"
repository = "https://github.com/zkxs/simple-crosshair-overlay"
documentation = "https://github.com/zkxs/simple-crosshair-overlay"
keywords = ["application", "overlay", "window", "crosshair"]
categories = []
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[profile.release]
lto = "fat"
codegen-units = 1
strip = true # note that this breaks cargo-bloat, and I don't know any fix aside from commenting out this line
#debug = true # note that this is required for `cargo flamegraph`

[dependencies]
crosshair-lib = { path = "crosshair-lib" }
tray-icon = { version = "0.10", default-features = false }
winit = "0.29"
softbuffer = "0.4"
serde.workspace = true
toml = "0.8"
directories = "5"
lazy_static = "1"
native-dialog = "0.7"
debug_print = "1"

[build-dependencies]
crosshair-lib = { path = "crosshair-lib" }

[target.'cfg(target_os = "windows")'.build-dependencies]
winres = "0.1"
ico = "0.3"

[target.'cfg(target_os = "linux")'.dependencies]
gtk = "0.18" # must use this version of gtk because it's what tray-icon 0.10 needs
