[package]
name = "simple-crosshair-overlay"
version = "1.0.1"
authors = ["Michael Ripley <zkxs00@gmail.com"]
description = "A simple native crosshair overlay"
edition = "2021"
license = "GPL-3.0-only"
readme = "README.md"
homepage = "https://github.com/zkxs/simple-crosshair-overlay"
repository = "https://github.com/zkxs/simple-crosshair-overlay"
documentation = "https://github.com/zkxs/simple-crosshair-overlay"
keywords = ["application", "overlay", "window", "crosshair"]
categories = []

[profile.release]
lto = "fat"
codegen-units = 1
strip = true # note that this breaks cargo-bloat, and I don't know any fix aside from commenting out this line

[features]
benchmarking = []

[dependencies]
tray-icon = "0.8"
winit = "0.28"
softbuffer = "0.3"
serde = { version = "1", features = ["derive"] }
toml = "0.7"
directories = "5"
lazy_static = "1"
png = "0.17"
native-dialog = "0.6"
device_query = "1"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3", features = ["winuser", "windef", "minwindef"] }

[target.'cfg(target_os = "windows")'.build-dependencies]
winres = "0.1"
ico = "0.3"

[target.'cfg(target_os = "linux")'.dependencies]
gtk = "0.16" # must use this old version of gtk because it's what tray-icon 0.8 needs

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "color_picker"
harness = false
